body {
    margin: 0;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 26px;
    -webkit-animation: fade-in 0.3s linear;
    animation: fade-in 0.3s linear;
    margin: 0;
    font-family: "Krub", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666f74;
    text-align: left;
    background-color: #f8f9fb; }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

p.error {
  color: red;
}

  .loginpage-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

    .loginpanel {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.09);
    padding: 30px 30px 37px;
    margin-top: 10%;
    width: 30%;
}

    .logintitle {
      text-align: center;
      font-size: 20px;
      line-height: 26px;
      font-weight: 600;
    }

    .loginpanel .form-default .form-group {
    margin-bottom: 21px;
}

.form-default .form-control {
    font-family: "Krub", sans-serif;
    background: #e2e7ea;
    color: #2e3335;
    font-size: 16px;
    line-height: 25px;
    width: 100%;
    font-weight: 500;
    letter-spacing: 0.01em;
    border-radius: 30px;
    border: 1px solid #e2e7ea;
}

.loginpanel .form-default .form-group label:not(.error) {
    padding-bottom: 7px;
}

.form-default .form-group label:not(.error) {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #182730;
    padding-bottom: 14px;
    margin-bottom: 0;
    letter-spacing: 0.01em;
    width: 100%;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

label.error {
  display: inline-block;
  color: red;
  height : 20px;
}

.form-default .form-control:not(textarea) {
    padding: 8px 15px 8px 15px;
    height: 39px;
}


.form-control:hover, .form-control:focus {
  border: 1px solid #2172cd;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    padding: 1px 0px;
}

button {
    padding: 1px 6px;
}

.tt-loginpages .form-default .form-group .btn {
    margin-top: 9px;
}

.btn.btn-secondary {
    background-color: #2172cd;
    color: #ffffff;
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background: #204ecd;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

.btn-block {
    width: 100%;
}

.btn {
    font-size: 16px;
    padding: 4px 15px 5px;
    line-height: 1;
    font-weight: 500;
    height: 39px;
    letter-spacing: 0.01em;
    border: none;
    outline: none;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}


header {
    background-color: #586880;
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
    padding-top: 10px;
    padding-bottom: 10px;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

.logo {
  margin-left: 50px;
  margin-right: 20px;
  font-size: 1.3em;
}

nav {
  margin-left: auto;
  margin-right: 50px;
}

main {
  display: block;
  position: relative;
  background-color: #f8f9fb
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .nav-btn {background-color: #204ecd;}

button.nav-btn {
  font-size: 16px;
  padding: 4px 15px 5px;
  line-height: 1;
  font-weight: 500;
  height: 39px;
  letter-spacing: 0.01em;
  border: none;
  outline: none;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #2172cd;
  color: #ffffff;
}

button.nav-btn:hover {
  background-color: #204ecd;
}

a.nav-darklnk {
  color: #ffffff;
}

.dashboard-container {
  margin-top: 15%;
}

.searchform {
  width: 70%;
  margin-left: 15%;
}

.searchbox {
  display: inline;
  padding: 8px 15px 8px 15px;
  height: 60px;
  font-family: "Krub", sans-serif;
  background: #e2e7ea;
  color: #4b5256;
  font-size: 16px;
  line-height: 25px;
  width: 80%;
  font-weight: 480;
  letter-spacing: 0.01em;
  border-radius: 30px;
  border: 1px solid #e2e7ea;
  text-align: center;
}

.searchbox:hover, .searchbox:focus {
  border-radius: 30px;
  border: 1px solid #2172cd;
}

.searchbtn {
  display: inline;
  height : 60px;
  margin-left: 5px;
  width: 100px;
}

.searchres-bar {
  margin-left: 0;
  margin-right: 50px;
  width: 75%;
}

.searchbox-nav {
  height: 39px;
  text-align: center;
  width: 50%;
}

.searchbtn-nav {
  height: 39px;
}

.searchform-nav
{
  margin-left: 0;
  margin-right: 5.1%;

}

div.resultcontainer {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  outline: none;
}

div.result {
  width:97%;
  overflow: hidden;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 15px 15px 10px 15px;
  border: 2px solid #c3c3c3;
  border-radius: 20px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.09);
}
div.result:hover {
  border: 2px solid #898989;
  border-radius: 20px;
  background: #f7f7f7;
}

div.bottom-nav {
  margin: 2% auto;
  padding: 1%;
}

.pages {
    padding: 10px 14px;
    color: #000000;
    border-radius: 50%;
    background: #CCC;
    text-decoration: none;
    margin: 0px 6px;
    font-size: 0.9em;
}

.pages:hover {
    color: #ffffff;
    background: #666;
}

.current {
    padding: 10px 14px;
    color: #ffffff;
    background: #2172cd;
    text-decoration: none;
    border-radius: 50%;
    margin: 0px 6px;
}

.res-desc {
  padding: 0;
}

.addnew-main {
  width:50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.issue-title {
  margin-bottom: 15px;
}

.form-textarea {
  padding: 8px 18px 8px 18px;
  margin-bottom: 15px;
}

.post-main {
  display: flex;
  width: 60%;
  margin-left: 10%;
  margin-right: 0;
  margin-top: 20px;
}

.postcontainer {
  display: inline-block;
  margin-top: 2%;
  width: 85%;
  padding: 14px 10px;
  outline: none;
  border-radius: 20px;
  box-shadow: 5px 7px 10px 2px rgba(0, 0, 0, 0.09);
  background-color: #f4f4f4;
}


button.backbutton{
  display: inline;
  margin: 20px auto;
  background: #2172cd;
  height: 39px;
  padding: 4px 8px 4px 8px;
  width: 100%;
  outline: none;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

.backbuttondiv {
  margin: 2%;
  width: 10%;
  height: 5%;
}

.back-btn {
  text-decoration: none;
}

.logo-link {
  text-decoration: none;
}
