body {
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 26px;
  -webkit-animation: fade-in 0.3s linear;
  animation: fade-in 0.3s linear;
  margin: 0;
  font-family: "Krub", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666f74;
  text-align: left;
  background-color: #f8f9fb;
}
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.errormessage {
  color: red;
  font-weight: bold;
}

.successmessage {
  color: green;
  font-weight: bold;
}

.loginpage-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.accountpanel {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.09);
  padding: 30px 30px 37px;
  margin-top: 10%;
  width: 30%;
}

.logintitle {
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.accountpanel .form-default .form-group {
  margin-bottom: 21px;
}

.form-default .form-control {
  font-family: "Krub", sans-serif;
  background: #e2e7ea;
  color: #2e3335;
  font-size: 16px;
  line-height: 25px;
  width: 100%;
  font-weight: 500;
  letter-spacing: 0.01em;
  border-radius: 30px;
  border: 1px solid #e2e7ea;
}

.accountpanel .form-default .form-group label:not(.error) {
  padding-bottom: 7px;
}

.registerpanel {
  margin-top: 20px;
}

.form-default .form-group label:not(.error) {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #182730;
  padding-bottom: 14px;
  margin-bottom: 0;
  letter-spacing: 0.01em;
  width: 100%;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

label.error {
  display: inline-block;
  color: red;
  height: 20px;
}

.form-default .form-control:not(textarea) {
  padding: 8px 15px 8px 15px;
  height: 39px;
}

.form-control:hover, .form-control:focus {
  border: 1px solid #2172cd;
}

button, input {
  overflow: visible;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  padding: 1px 0px;
}

button {
  padding: 1px 6px;
}

.tt-loginpages .form-default .form-group .btn {
  margin-top: 9px;
}

.btn.btn-secondary {
  background-color: #2172cd;
  color: #ffffff;
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background: #204ecd;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}

.btn-block {
  width: 100%;
}

.btn {
  font-size: 16px;
  padding: 4px 15px 5px;
  line-height: 1;
  font-weight: 500;
  height: 39px;
  letter-spacing: 0.01em;
  border: none;
  outline: none;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

header {
  background-color: #586880;
  position: relative;
  height: 90px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
  padding-top: 10px;
  padding-bottom: 10px;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: black;
  text-decoration: none;
}

.logo {
  margin-left: 50px;
  margin-right: 20px;
  font-size: 1.3em;
}

nav {
  margin-left: auto;
  margin-right: 50px;
}

main {
  display: block;
  position: relative;
  background-color: #f8f9fb
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a, p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .nav-btn {
  background-color: #204ecd;
}

button.nav-btn {
  font-size: 16px;
  padding: 4px 15px 5px;
  margin: 10px 0 10px 0;
  line-height: 1;
  font-weight: 500;
  height: 39px;
  letter-spacing: 0.01em;
  border: none;
  outline: none;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #2172cd;
  color: #ffffff;
}

button.nav-btn:hover {
  background-color: #204ecd;
}

a.nav-darklnk {
  color: #ffffff;
}

.dashboard-container {
  margin-top: 15%;
}

.searchform {
  width: 70%;
  margin-left: 15%;
}

.searchbox {
  display: inline;
  padding: 8px 15px 8px 15px;
  height: 60px;
  font-family: "Krub", sans-serif;
  background: #e2e7ea;
  color: #4b5256;
  font-size: 16px;
  line-height: 25px;
  width: 80%;
  font-weight: 480;
  letter-spacing: 0.01em;
  border-radius: 30px;
  border: 1px solid #e2e7ea;
  text-align: center;
}

.searchbox:hover, .searchbox:focus {
  border-radius: 30px;
  border: 1px solid #2172cd;
}

.searchbtn {
  display: inline;
  height: 60px;
  margin-left: 5px;
  width: 100px;
}

.searchres-bar {
  margin-left: 0;
  margin-right: 50px;
  width: 75%;
}

.searchbox-nav {
  height: 39px;
  text-align: center;
  width: 50%;
}

.searchbtn-nav {
  height: 39px;
}

.searchform-nav {
  margin-left: 0;
  margin-right: 5.1%;
}

div.resultcontainer {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  outline: none;
}

div.result {
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 15px 10px 15px;
  border-radius: 10px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.09);
}

div.result:hover {
  border-radius: 10px;
  background: #f7f7f7;
}

div.bottom-nav {
  margin: 2% auto;
  padding: 1%;
}

.pages {
  padding: 10px 14px;
  color: #000000;
  border-radius: 50%;
  background: #CCC;
  text-decoration: none;
  margin: 0px 6px;
  font-size: 0.9em;
}

.pages:hover {
  color: #ffffff;
  background: #666;
}

.current {
  padding: 10px 14px;
  color: #ffffff;
  background: #2172cd;
  text-decoration: none;
  border-radius: 50%;
  margin: 0px 6px;
}

.res-desc {
  padding: 0;
}

.addnew-main {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.issue-title {
  margin-bottom: 15px;
}

.form-textarea {
  padding: 8px 18px 8px 18px;
  margin-bottom: 15px;
}

.post-main {
  display: flex;
  width: 65%;
  margin-left: 10%;
  margin-right: 0;
  margin-top: 20px;
}

.postcontainer {
  display: inline-block;
  margin-top: 2%;
  width: 85%;
  padding: 14px 10px;
  outline: none;
  border-radius: 12px;
  box-shadow: 5px 7px 10px 2px rgba(0, 0, 0, 0.09);
  background-color: #f4f4f4;
}

.dash-container {
  display: block;
  margin: 40px 10% 20px 10%;
  width: 80%;
}

.btn2 {
  display: inline;
  margin: 20px auto;
  background: #2172cd;
  height: 39px;
  padding: 4px 8px 4px 8px;
  width: 100%;
  outline: none;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

.postpanel {
  margin: 2%;
  width: 15%;
  height: 5%;
  display: inline-block;
}

.btn2link {
  text-decoration: none;
}

.nav-darklnk {
  text-decoration: none;
}

.logo-link {
  text-decoration: none;
}

.tabs {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

.tabs .tab {
  float: left;
  display: block;
}

.tabs .tab>input[type="radio"] {
  display: none;
}

.tabs .tab>label {
  display: block;
  padding: 6px 21px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.tabs .tab>label:after {
  background-color: #eaeaea;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.tabs .content {
  display: none;
  overflow: hidden;
  width: 100%;
  padding: 25px 25px 60px 25px;
  margin-bottom: 30px;
  position: absolute;
  top: 50px;
  left: 0;
  background: #f2f2f2;
  color: black;
  opacity: 0;
  transition: opacity 400ms ease-out;
}

.tabs>.tab>[id^="tab"]:checked+label {
  top: 0;
  color: black;
  font-weight: 600;
  background-color: #f2f2f2;
}

.tabs>.tab>[id^="tab"]:checked+label:after {
  background-color: #2172cd;
}

.tabs>.tab>[id^="tab"]:checked~[id^="tab-content"] {
  display: block;
  opacity: 1;
  transition: opacity 400ms ease-out;
}

.dash-container .message {
  color: green;
  display: block;
}

.table-link {
  display: float;
  float: right;
}

.postlist {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

.postlist th {
  color: #D5DDE5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 16px;
  font-weight: 100;
  padding: 4px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  white-space: nowrap;
}

.postlist th:first-child {
  border-top-left-radius: 3px;
}

.postlist th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

.postlist tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 14px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.postlist tr:hover td .dropdown {
  color: black;
}

.postlist tr:hover td {
  background: #4E5066;
  color: #FFFFFF;
  border-top: 1px solid #22262e;
}

.postlist tr:first-child {
  border-top: none;
}

.postlist tr:last-child {
  border-bottom: none;
}

.postlist tr:nth-child(odd) td {
  background: #EBEBEB;
}

.postlist tr:nth-child(odd):hover td {
  background: #4E5066;
}

.postlist tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

.postlist tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

.postlist td {
  background: #FFFFFF;
  padding: 4px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.postlist td:last-child {
  border-right: 0px;
}

.postlist th.text-left {
  text-align: left;
}

.postlist th.text-center {
  text-align: center;
}

.postlist th.text-right {
  text-align: right;
}

.postlist td.text-left {
  text-align: left;
}

.postlist td.text-center {
  text-align: center;
}

.postlist td.text-right {
  text-align: right;
}

.postlist a {
  text-decoration: none;
  color: #000000;
}

.postlist a:hover {
  color: #222222
}

/* Dropdown */
label.dropdown {
  display: inline-block;
  position: relative;
  margin: 5px;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px 30px 5px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
  z-index: 0;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  display: none;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
  z-index: 1;
}

.tabs .dropdown:hover .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 5px 20px;
  cursor: pointer;
  white-space: nowrap;
  /* border-bottom: 1px solid #cccccc; */
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  /* border-bottom: 1px solid #cccccc; */
}