/* .text-primary{
  color: #383838;
} */
*{
  box-sizing: border-box;
}

html,body{
  font-family: times, Geneva, Verdana, sans-serif;
}

div.isssueForm {
  width: 58%;
  padding: 1%;
}

.btn{
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #6c6c6c;
  padding: 5px 28px;
  border: none;
  cursor: pointer;
  font-family: arial;
}

.btn:hover{
  background: #5c5c5c;
}

.bg-light{
  background: #eeeeee;
}

#login-form {
  font-size: 18px;
  margin: auto;
  width: 35%;
  padding-top: 10%;
}

#login-form .form-group{
  margin-bottom: 20px;
}

#login-form .form-group label{
  display: block;
  margin-bottom: 5px;
}

#login-form .form-group input{
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#login-form input:focus{
  outline: none;
  border-color: #5c5c5c;
}

#login-form h1 {
  align: center;
  font-size: 30px;
}

.registrationForm {
  margin: auto;
  width: 20%;
  padding: 10%;
}
.registrationForm h1 {
  align: center;
}
.registrationForm table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.registrationForm td.button {
  text-align: center;
}

.isssueForm {
  margin: auto;
  width: 55%;
  padding: 12%;
  text-align: center;

}

.isssueForm table, th, td {
  border: none;
  border-collapse: collapse;
}

.isssueForm td.button {
  text-align: center;
}
label
{
  float: left;
}
label.error
{
   float: none;
   color: #FF0000;
   padding-left: 0px;
   vertical-align: bottom;
 }
.addnew{
  width:100%;
  overflow: hidden;
  font-size: 20px;
  text-align: right;
  position: absolute;
  top:0;
  right:0;
  margin-top: 5px;
  margin-right: 3px;

}
.addnew a {
  float: right;
  display: block;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 17px;
  border: 2px solid ;
}

.submitButton {
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  /* margin: 100px auto; */
  border: 2px solid #2ecc71;
  background: #2ecc71;
  padding-top: 8px;
  padding-bottom: 13px;
  width: 10%;
  outline: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  /* padding-bottom: 30px; */
}

.searchbox {
  display: inline-block;
  /* margin: 2% auto; */
  text-align: center;
  margin-top: 15%;
  margin-left: 20%;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 50%;
  outline: none;
  color: black;
  border-radius: 20px;
}
/* } */
