.loginForm {
  margin: auto;
  width: 20%;
  padding: 10%;
}

.loginform h1 {
  align: center;
}
.registrationForm {
  margin: auto;
  width: 20%;
  padding: 10%;
}
.registrationForm h1 {
  align: center;
}
.registrationForm table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.registrationForm td.button {
  text-align: center;
}

.isssueForm {
  margin: auto;
  width: 55%;
  padding: 12%;
  text-align: center;

}
.isssueForm h1 {
  align: center;
}
.isssueForm table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.isssueForm td .button {
  text-align: center;
}

.searchcontainer {
  overflow: hidden;
  font-size: 20%;
  text-align: center;
  margin-top: 15%;
  padding: 6px;
}
.searchcontainer input[type=text] {

  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #FFFF

}
.searchcontainer button {
  float: none;
  padding: 6px;
  background: #2196F3;
  color: white;
  border-left: none; /* Pevent double borders */
  cursor: pointer;
}
.searchcontainer button[type=submit] {

  font-size: 48px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid #FFFF

}
.searchcontainer button:hover {
  background: #0b7dda;
}
.addnew{
  width:100%;
  overflow: hidden;
  font-size: 20px;
  text-align: right;
  position: absolute;
  top:0;
  right:0;
  margin-top: 5px;
  margin-right: 3px;
}
.addnew a {
  float: right;
  display: block;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 17px;
  border: 2px solid ;
/* } */
